@import "_nullStyle.scss";

.wrapper {
   overflow: hidden;
   min-height: 100%;
   background-color: aquamarine;
   display: flex;
   flex-direction: column;
}
.conteiner {
   max-width: 1180px;
   margin: 0 auto;
   padding: 0 10px;
   position: relative;
}
.header {
   position: fixed;
   width: 100%;
   top: 0;
   left: 0;
   justify-content: space-between;
   flex: 0 1 auto;
   background-color: rgb(163, 82, 222);
   z-index: 50;
   &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgb(163, 82, 222);
   }
}

.title-conteiner {
}

.title-conteiner__row {
   display: flex;
   justify-content: space-between;
   height: 100px;
}
.title-conteiner__image {
   flex: 0 0 300px;
   overflow: hidden;
   z-index: 3;
   position: relative;
   img {
      max-width: 100%;
      max-height: 100%;
   }
}
.title-conteiner__contact {
   z-index: 3;
   position: relative;
}
.title-conteiner__list {
}

.header__menu {
   background-color: rgb(182, 172, 165);
}

.header__burger {
   display: none;
}

.header__list {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 35px;
   position: relative;
   z-index: 5;
}
.header__li {
   list-style: none;
   color: cornsilk;
   font-size: 18px;
   text-transform: uppercase;
   margin: 0 0 0 30px;
}

@media (max-width: 767px) {
   body.lock {
      overflow: hidden;
   }
   .header__list {
      display: block;
      li {
         margin: 0 0 30px 0;
      }
   }
   .title-conteiner__row {
      display: block;
      height: 50px;
      .title-conteiner__contact {
         display: none;
      }
   }
   .title-conteiner__image {
      img {
         max-width: 50px;
         max-height: 50px;
      }
   }
   .header__menu {
      display: block;
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: crimson;
      padding: 100px 0 0 0;
      transition: all 0.3s ease 0s;
      overflow: auto;
   }
   .header__menu.active {
      top: 0;
   }
   .header__burger {
      z-index: 3;
      position: relative;
      span {
         position: absolute;
         background-color: cornsilk;
         left: 0;
         width: 100%;
         height: 2px;
         top: 9px;
         transition: all 0.3s ease 0s;
      }
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      &:before,
      &:after {
         content: " ";
         background-color: cornsilk;
         position: absolute;
         width: 100%;
         height: 2px;
         left: 0;
         transition: all 0.3s ease 0s;
      }
      &:before {
         content: " ";
         top: 0;
      }
      &:after {
         content: " ";
         bottom: 0;
      }
   }
}
.header__burger.active {
   span {
      transform: scale(0);
   }
   &:before {
      content: " ";
      transform: rotate(45deg);
      top: 9px;
   }
   &:after {
      content: " ";
      transform: rotate(-45deg);
      bottom: 9px;
   }
   .main {
      padding: 30px 0 0 0;
   }
}
.main {
   flex: 1 1 auto;
   min-height: 700px;
   padding: 160px 0 0 0;
   p {
      font-size: 16px;
      line-height: 20px;
   }
}

.footer {
   background-color: teal;
}
.footer__row {
   display: flex;
   height: 100px;
   justify-content: center;
   align-items: center;
}
.footer__text {
}
